<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.suvratjain.firstapp">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="RPS X-treme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUp"
            android:label="Sign Up" />
        <activity
            android:name=".Menu"
            android:label="Menu" />
        <activity
            android:name=".Settings"
            android:label="Settings" />
        <activity
            android:name=".LeaderBoard"
            android:label="Leader Board" />
        <activity
            android:name=".ForgotPassword"
            android:label="Retrieve Password" />
        <activity android:name=".NewSession"
            android:label="Create a Session"/>
        <activity
            android:name=".OneVOne"
            android:label="Enter Gamer ID" />
    </application>

</manifest>